[submodule "hyunhyun"]
	path = hyunhyun
	url = git@github.com:mosson/hyunhyun.git
[submodule "jquery.expander.js"]
	path = jquery.expander.js
	url = git@github.com:mosson/jquery.expander.js.git
[submodule "range-component"]
	path = range-component
	url = git@github.com:mosson/range-component.git
[submodule "regexp-exam"]
	path = regexp-exam
	url = git@github.com:mosson/regexp-exam.git
